.delete-btn {
  color: white;
  text-decoration: none;
  background-color: #dc3545;
  padding: 0.5rem;
  text-align: center;
}

.edit-btn {
  color: white;
  text-decoration: none;
  background-color: #4469ae;
  padding: 0.5rem;
  text-align: center;
}

.home-btn {
  text-decoration: none;
  color: black;
  margin-left: auto;
}
