.delete-button-box {
  display: flex;
  justify-content: flex-end;
}

.delete-btn {
  text-decoration: none;
  color: black;
}

.post-box {
  text-align: center;
  margin-top: 1rem;
}

.post-btn {
  color: white;
  text-decoration: none;
  background-color: #4469ae;
  padding: 0.5rem;
  text-align: center;
}

.new-post-box {
  border: 1px solid #ccc;
  width: 300px;
  padding: 1rem;
}
